<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers and support staff get their work done
  in less time and with less pain
  by teaching them basic computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
<p>
  This specific workshop is part of a series of Carpentry workshops specifically focussed on IT staff at universities across South Africa. Participants will learn to use tools that will not only help them to streamline their own work, but also equip them to support researchers and postgraduate students better.
</p>
<p>
  The workshop is jointly organised by ASAUDIT and the <a href="https://tenet-rccpii.github.io/rccpii-2018/">Rural Campuses Connection Project II</a> (RCCPII).
</p>
