<p id="who">
  <strong>Who:</strong>
  The course is aimed at IT staff at South African universities who are interested in learning how to automate redundant tasks and to use programming languages such as Python in their day-to-day work to be more efficient. IT and Library staff who are supporting researchers and postgraduate students with research will also benefit from attending this course.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
